.separateBlock:after,
.separateBlock:before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  content: "";
  width: calc(50% - 55px);
  height: 1px;
  background: var(--color-primary-400);
}
.separateBlock:after {
  left: auto;
  right: 0;
}