@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
.iconCatalog {
	width: 30px;
	height: 30px;
	background: url('./img/icons/keyboard_double_arrow_down.svg') no-repeat;
}

.iconUser {
  width: 30px;
  height: 30px;
  background: url('/img/icons/account_circle.svg') no-repeat;

}
.iconFavorite {
  width: 30px;
  height: 30px;
  background: url('/img/icons/favorite.svg') no-repeat;
}
.iconBasket {
  width: 30px;
  height: 30px;
  background: url('/img/icons/shopping_basket.svg') no-repeat;
}

.headerBtn__action {
  border: 1px solid #041C4F;
  border-radius: 8px;
  padding: 8px;
}
ul li a{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  
  color: #000000;
}
ul li a:hover{
  text-decoration:underline;
  color: #041C4F;
}
button{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
