.iconCatalog {
	width: 30px;
	height: 30px;
	background: url('./img/icons/keyboard_double_arrow_down.svg') no-repeat;
}
.iconUser {
  width: 30px;
  height: 30px;
  background: url('/img/icons/account_circle.svg') no-repeat;

}
.iconFavorite {
  width: 30px;
  height: 30px;
  background: url('/img/icons/favorite.svg') no-repeat;
}
.iconBasket {
  width: 30px;
  height: 30px;
  background: url('/img/icons/shopping_basket.svg') no-repeat;
}
.iconBurger {
  width: 24px;
  height: 24px;
  background: url('/img/icons/burger_menu_icon.svg') no-repeat;
}
.headerBtn__action {
  border: 1px solid #041C4F;
  border-radius: 8px;
  padding: 7px 8px;
  font-weight: 500;
  line-height: 30px;
  transition: 0.5s;
}
.headerBtn__action:hover {
  border-color: rgba(73, 71, 91, 0.2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
.headerNav__link {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 4px;
  transition: 0.5s;
}
.headerNav__link:hover{
  text-decoration:underline;
  color: #041C4F;
  transition: 0.5s;
}
.searchBlock {
  border: 1px solid #041c4f;
  height: 46px;
  transition: 0.5s;
}
.searchBlock:focus,
.searchBlock:focus-within {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
.dropDownBtn {
  background: transparent;
  border: 1px solid #041c4f;
  border-radius: 8px;
  padding: 8px 2px;
  font-weight: 500;
  font-size: 20px;
  gap: 3px;
  height: 46px;
  min-height: auto;
  transition: 0.5s;
}
.dropDownBtn:hover,
.dropDownBtn:active:focus,
.dropDownBtn:focus {
  border-color: rgba(73, 71, 91, 0.2);
  background: transparent;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
.languagesBtn {
  width: 65px;
}
.currenciesBtn {
  width: 50px;
}
.zIndexHigh{
  z-index: 4;
}
.zIndexLow{
  z-index: -1;
}