@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #01060b;
  background: #fbfcf3;
}
* {
  outline: none !important;
  outline-offset: 0 !important
}

@media (min-width: 1536px) {
  .container {
    max-width: 1330px;
  }
}

.icon {
  display: block;
}
.btn-blue {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(45deg, #0b2354 0%, #043392 100%);
  animation: gradientAnimation 0.9s forwards;
}
.btn-blue:hover {
  background: linear-gradient(45deg, #0b2354 100%, #043392 0%);
  animation: gradientAnimation 0.9s reverse forwards;
}

@keyframes gradientAnimation {
  0% { background: linear-gradient(45deg, #0b2354 1000%, #043392 0%); }
  100% { background: linear-gradient(45deg, #0b2354 0%, #043392 100%); }
}

.custom-boxShadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.slick-list {
  overflow: hidden;
}