@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
* {
  outline: none !important;
  outline-offset: 0 !important
}


@media (min-width: 1536px) {
  .container {
    max-width: 1330px;
  }
}

.icon {
  display: block;
}