@theme {
  --font-generale: "Comfortaa", sans-serif;
  --font-secondary: "Nunito", sans-serif;

  --font-size-h1: 56px;
  --font-size-h2: 48px;
  --font-size-h3: 40px;
  --font-size-h4: 36px;
  --font-size-h5: 32px;
  --font-size-h6: 24px;
  --font-size-h7: 16px;
  
  --font-size-body-1: 24px;
  --font-size-body-2: 20px;
  --font-size-body-3: 16px;
  --font-size-body-4: 14px;
  --font-size-body-5: 12px;
  --font-size-body-6: 10px;
  
  --line-height-100: 100%;
  --line-height-130: 130%;

  --color-accent-40:  #a0864d66;
  --color-accent-100: #FBF4E6;
  --color-accent-200: #FBF3E1;
  --color-accent-300: #D2C6AC;
  --color-accent-400: #D3C1A5;
  --color-accent-500: #C2A06F;
  --color-accent-600: #B6975C;
  --color-accent-700: #A0864D;
  --color-accent-800: #7C6B47;

  --color-primary-80:  #282828CC;
  --color-primary-100: #EAEAEA;
  --color-primary-200: #D4D4D4;
  --color-primary-300: #BFBFBF;
  --color-primary-400: #A9A9A9;
  --color-primary-500: #949494;
  --color-primary-600: #7E7E7E;
  --color-primary-700: #505050;
  --color-primary-800: #3A3A3A;
  --color-primary-900: #282828;
  
  --color-neutral: #fff;
  --color-show: #FCFCFC;
  --color-show-70: #FCFCFC;

  --color-red-10: #fb3748;
  --color-red-100: #FF6636;
  --color-red-200: #FB3748;
  --color-red-300: #d00416;

  --color-yellow-10: #ffdb43;
  --color-yellow-100: #ffdb43;
  --color-yellow-200: #dfb400;

  --color-green-10: #1fc16b;
  --color-green-100: #2DB224;
  --color-green-200: #1fc16b;
  --color-green-300: #2DB224;

  --color-blue-10: #2DA5F3;
  --color-blue-100: #2DA5F3;

  --radius-5xl: 64px;

  --spacing: 2px; 
}

.text-h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-130);
}
.text-h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-130);
}
.text-h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-130);
}
.text-h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-130);
}
.text-h5 {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-130);
}
.text-h6 {
  font-size: var(--font-size-h6);
  line-height: var(--line-height-130);
}

.body-1 {
  font-size: var(--font-size-body-1);
  line-height: var(--line-height-130);
}
.body-2 {
  font-size: var(--font-size-body-2);
  line-height: var(--line-height-130);
}
.body-3 {
  font-size: var(--font-size-body-3);
  line-height: var(--line-height-130);
}
.body-4 {
  font-size: var(--font-size-body-4);
  line-height: var(--line-height-130);
}
.body-5 {
  font-size: var(--font-size-body-5);
  line-height: var(--line-height-130);
}
.body-6 {
  font-size: var(--font-size-body-6);
  line-height: var(--line-height-100);
}

button,
a {
  font-family: var(--font-secondary);
  font-size: var(--font-size-body-2);
  line-height: var(--line-height-100);
  font-weight: var(--font-weight-bold);
}


.rounded-5xl {
  border-radius: var(--radius-5xl);
}