@theme {
  --font-generale: "Comfortaa", sans-serif;
  --font-secondary: "Nunito", sans-serif;

  --text-size-h1: clamp(36px, 5vw, 56px);
  --text-size-h2: clamp(32px, 5vw, 48px);
  --text-size-h3: clamp(32px, 4vw, 40px);
  --text-size-h4: clamp(24px, 5vw, 36px);
  --text-size-h5: clamp(20px, 3vw, 32px);
  --text-size-h6: clamp(16px, 3vw, 24px);
  --text-size-h7: clamp(14px, 5vw, 16px);
  
  --text-size-body-1: 24px;
  --text-size-body-2: 20px;
  --text-size-body-3: 16px;
  --text-size-body-4: 14px;
  --text-size-body-5: 12px;
  --text-size-body-6: 10px;

  --text-size-card-1: 24px;
  --text-size-card-2: 16px;
  --text-size-card-3: 16px;
  --text-size-card-4: 12px;

  --text-size-label-1: 20px;
  --text-size-label-2: 16px;

  --text-size-link-1: 16px;
  
  --leading-100: 100%;
  --leading-130: 130%;

  --color-accent-40:  #a0864d66;
  --color-accent-100: #FBF4E6;
  --color-accent-200: #FBF3E1;
  --color-accent-300: #D2C6AC;
  --color-accent-400: #D3C1A5;
  --color-accent-500: #C2A06F;
  --color-accent-600: #B6975C;
  --color-accent-700: #A0864D;
  --color-accent-800: #7C6B47;

  --color-primary-80:  #282828CC;
  --color-primary-100: #EAEAEA;
  --color-primary-200: #D4D4D4;
  --color-primary-300: #BFBFBF;
  --color-primary-400: #A9A9A9;
  --color-primary-500: #949494;
  --color-primary-600: #7E7E7E;
  --color-primary-700: #505050;
  --color-primary-800: #3A3A3A;
  --color-primary-900: #282828;
  
  --color-snow: #FCFCFC;
  --color-snow-70: #FCFCFCB3;

  --color-red-10: #fb3748;
  --color-red-100: #FF6636;
  --color-red-200: #FB3748;
  --color-red-300: #d00416;

  --color-yellow-10: #ffdb43;
  --color-yellow-100: #ffdb43;
  --color-yellow-200: #dfb400;

  --color-green-10: #1fc16b;
  --color-green-100: #2DB224;
  --color-green-200: #1fc16b;
  --color-green-300: #2DB224;

  --color-blue-10: #2DA5F3;
  --color-blue-100: #2DA5F3;

  --shadow-custom1: 0 0 4px 0 rgba(40, 40, 40, 0.1);
  --shadow-custom2: 0 0 8px 0 rgba(160, 134, 77, 0.1);

  --radius-5xl: 64px;
}

@layer components {
  .regional_btn {
    font-size: var(--text-size-body-3);
    line-height: var(--leading-130);
    color: var(--color-snow);
  }
  .pattern-bg {
    background: url('./assets/Pattern-bg.svg');
  }
  .label-onlineAuction {
    background: var(--color-accent-800);
    color: var(--color-snow);
    box-shadow: var(--shadow-custom1);
    border-radius: var(--radius-2xl);
    padding: 4px 12px;
  }
  .label-onlineAuction-price {
    background: var(--color-accent-100);
    color: var(--color-accent-700);
    box-shadow: var(--shadow-custom1);
    border-radius: var(--radius-2xl);
    padding: 4px 12px;
    height: 32px;
  }
  .menu-catalog-link {
    color: var(--color-primary-900);
    font-size: var(--text-size-body-3);
  }

  .btn {
    font-family: var(--font-secondary);
    line-height: var(--leading-100);
    color: var(--color-snow);
  }
  /* .btn-primary { 
    background: var(--color-primary-900);
    color: var(--color-snow);
    transition: 0.5s;
  }
  .btn-primary:hover {
    background: var(--color-primary-800);
    box-shadow: var(--shadow-custom1);
    transition: 0.5s;
  } */
  .btn-primary:focus {
    background: var(--color-primary-700);
    transition: 0.5s;
  }
  .btn-primary:disabled {
    background: var(--color-primary-300);
  }

  .btn-secondary {
    background: var(--color-accent-700);
    color: var(--color-snow);
    transition: 0.5s;
  }
  .btn-secondary:hover {
    background: var(--color-accent-600);
    color: var(--color-snow);
    box-shadow: var(--shadow-custom1);
    transition: 0.5s;
  }
  .btn-secondary:focus {
    background: var(--color-accent-500);
    color: var(--color-snow);
    transition: 0.5s;
  }
  .btn-secondary:disabled {
    background: var(--color-accent-300);
  }

  button,
  a {
    font-family: var(--font-secondary);
  }
  .rounded-5xl {
    border-radius: var(--radius-5xl);
  }

}

